body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #001a6c;
}
.box{
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.loader{
    width: 24px;
    height: 24px;
    border: 5px dashed #fff;
    border-radius: 50%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    0%{
       transform: rotateZ(0deg); 
    }
    100%{
        transform: rotateZ(360deg); 
    }
}