body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #001a6c;
}
.box{
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: center;
    color: #fff;   
}
.loader-box{
    display: flex;
    gap: 5px;
}
.files{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.file{
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    animation: blinked 1s ease-out infinite;
    transition: all 2s;
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(0.5);
    animation: loading 1s infinite;
}
.dot1{
    animation-delay: 0s;
}
.dot2{
    animation-delay: 2s;
}
.dot3{
    animation-delay: 3s;
}

@keyframes blinked {
    0%{
        background-color: #cfcfcf;
    }
    100%{
        background-color: #f1f0f0;
    }
}

@keyframes loading{
    0%{
       transform: scale(0.5); 
    }
    100%{
        transform: scale(1); 
    }
}